body {
    font-family: "Open Sans", serif;
    background-color: rgb(88, 88, 88);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
}

.quote-box {
    background-color: #f9f9f9; 
    color: #333; 
    text-align: center;
    width: 40rem;
    height: 25rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 2rem; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 5rem;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin: 2rem auto;
}

.generateBtn {
    font-size: 1rem;
    color: rgb(253, 254, 255);
    background-color: rgb(46, 46, 48);
    padding: 12px;
    border-radius: 5px;
}

.h1 {
    font-size: 2.8rem;
    margin: 0;
    padding: 20px;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Roboto', 'serif';
}

@media screen and (max-width: 425px) {
    .quote-box {
        width: 45rem;
    }

    .h1 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 320px) {
    .quote-box {
        height: 30rem;
    }

}
